@charset "UTF-8";
/* CSS Document */

body {
	background-color: #000000;
	color: #F4F5F8;
	margin: 0px;
}
h1 {
	font-family: 'Sporting Grotesque_Regular', sans-serif;
	font-weight: 400;
	font-size: 32px;
}
h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0px;
	line-height: 1.5;
}
h3 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 4px;
}
p {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

.large-text {
	font-weight: 300;
	font-size: 21px;
	margin-bottom: 3vw;
}
.cta {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	color: #F4F5F8;
	background-color: #000000;
	font-size: 16px;
	text-decoration: none;
	text-align: center;
	padding: 16px 40px;
	border: solid 1.5px #F4F5F8;
	transition: all ease .5s;
}
.cta:hover {
	color: #000000;
	background-color: #F4F5F8;
}
.cta a:visited {
	color: #F4F5F8;
	text-decoration: none;
}

header {
	width: 40vw;
	min-width: 435.5px;
	margin: 6vw 0px 0px 0px;
}
header a{
	text-decoration: none;
	color: inherit;
}
header a:visited{
	text-decoration: none;
	color: inherit;
}
.logo {
	width: 32vw;
	min-width: 348.5px;
	border-bottom: solid #F4F5F8 1.5px;
	padding:0px 0px 0px 8vw;
	animation-name: line-in;
 	animation-duration: .5s;  
  	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
.logo h1 {
	transition: all ease .5s;
}
.logo h1:hover {
	color:#8D8D8D;
}
.description a {
	transition: all ease .5s;
	text-decoration: none;
	color: inherit;
}
.description a:visited{
	text-decoration: none;
	color: inherit;
}
.description a:hover {
	color:#8D8D8D;
}
.back-arrow {
	transition: all ease .5s;
}
.description:hover .back-arrow {
	fill: #8D8D8D;
}
@keyframes line-in {
  from {margin-left: -10vw; opacity: 0;}
  to {margin-left: 0px; opacity: 1;}
}
.logo h1 {
	opacity:0;
	animation-name: logo-in;
	animation-delay: .5s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
@keyframes logo-in {
	from {opacity:0;}
	to {opacity:1;}
}
.header-bottom {
	width: 32vw;
	min-width: 348.5px;
	padding: 2vw 0px 0px 8vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	animation-name: logo-in;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
	opacity: 0;
}
.description{
	width: 19vw;
	min-width: 207px;
}
nav {

}
.nav-icon {
	margin: 0px 0px 0px 20px;
	vertical-align: top;
	display: inline-block;
	background-color: #000000;
	padding:10px;
	transition: all ease .5s;
	height:0px;
}
#email-icon {
	transition: all ease .5s;
}
#resume-icon {
	transition: all ease .5s;
}
.nav-icon:hover {
	background-color: #f4f5f8;
	height:26px;
}
.nav-icon:hover #email-icon {
	fill:#000000;
}
.nav-icon:hover #resume-icon {
	fill:#000000;
}
.primary {
	margin: 5vw 7vw 8vw 7vw;
}
.grid {
	display: block;
	margin:0px;
	width: 85vw;
	opacity:0;
	animation-name: logo-in;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
.grid-row {
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	width: 85vw;
}
#row-one {
	margin-left:1vw;
}
.large-block {
	width: 44vw;	
}
.small-block {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	width: 41vw;
	height: 39vw;
}
figure {
	margin:0px;
}
.thumbnail-large {
	width: 44vw;
}
.thumbnail-small {
	width: 19vw;
}
.thumbnail-img {
	width: 100%;
	z-index: 0;
}
.thumbnail a {
	color: #F4F5F8;
	text-decoration: none;
}
.thumbnail a:hover {
	color: #F4F5F8;
	text-decoration: none;
}
.thumbnail a:visited {
	color: #F4F5F8;
	text-decoration: none;
}
.small-caption {
	position: absolute;
	z-index: 100;
	background-color: #000000;
	padding:12.3vw 0px 0px 2vw;
	width:17vw;
	height:0vw;
	transition: all ease .5s;
	opacity: 0;
}
.small-caption:hover {
	opacity:1;
	height:6.2vw;
}
.large-caption {
	position: absolute;
	z-index: 100;
	background-color: #000000;
	padding:28vw 0px 0px 2vw;
	width:42vw;
	height:0vw;
	transition: all ease .5s;
	opacity: 0;
}
 .large-caption:hover {
	opacity:1;
	height:10vw;
}
.large-caption h2 {
	font-family: 'Sporting Grotesque_Regular', sans-serif;
	font-size: 60px;
}
.large-caption p {
	font-weight: 300;
	font-size: 26px;
	margin:0px;
}
.small-caption h2 {
	font-family: 'Sporting Grotesque_Regular', sans-serif;
	font-size: 24px;
}
.small-caption p {
	font-weight: 300;
	margin:0px;
}
.hero {
	width: 100%;
	margin-bottom: 5vw;
	border: solid .5px #cbcbcb;
}
.project-info {
	margin: 0px 7vw 6vw 7vw;
}
.flexbox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.project-title {
	font-family: 'Sporting Grotesque_Regular', sans-serif;
	font-size: 60px;
	margin-bottom: 2vw;
}
.project-stats {
	width: 21vw;
}
.project-desc {
	width: 40vw;
}
.project-pic {
	width: 100%;
	margin-bottom: 2vw;
}
.flex-half {
	width: 48%;
}

@media only screen and (max-width: 980px) and (min-width: 781px) and 
(-webkit-min-device-pixel-ratio: 2) {
	#row-one {
		flex-direction: column;
		margin-left: 0px;
	}
	#row-two {
		flex-direction: column-reverse;
	}
	header {
	width: 72vw;
	}
	.logo {
	width: 64vw;
	}
	.header-bottom {
	width: 64vw;
	}
	.description{
	width: 35vw;
	}
	.large-block {
		width: auto;
	}
	.thumbnail-large {
		width: auto;
	}
	.large-caption {
		width:83vw;
		padding-top:50vw;
	}
	.large-caption:hover {
		height:23.3vw;
	}
	.small-block {
		width: auto;
		height: auto;
	}
	.small-caption:hover {
		height:16vw
	}
	.small-caption {
		width: 40vw;
		padding-top: 25vw;
	}
	
	.thumbnail-small {
		width: 42vw;
	}
	.header-bottom {
		padding-top:7vw;
	}
	.flexbox {
		flex-direction: column;
		margin-bottom: 3vw;
	}
	.project-stats {
		width: 100%;
		margin-bottom: 8vw;
	}
	.project-desc {
		width: 100%;
	}
	.project-pic {
		width: 100%;
		margin-bottom: 2vw;
	}
	.flex-half {
		width: 100%;
	}
	.large-caption h2 {
		font-size: 120px;
	}
	.project-title {
		font-size: 120px;
	}
	.large-caption p {
		font-size: 50px;
	}
	.small-caption h2 {
		font-size: 50px;
	}
	h1 {
		font-size: 64px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 24px;
	}
	p {
		font-size: 32px;
	}
	.cta {
		font-size: 32px;
	}
	.large-text {
		font-size: 42px;
	}
}
@media only screen and (max-width: 780px) and 
(-webkit-max-device-pixel-ratio: 2) {
	.large-caption h2 {
		font-size: 40px;
	}
	.project-title {
		font-size: 40px;
	}
	.large-caption p {
		font-size: 20px;
	}
	.small-caption h2 {
		font-size: 20px;
	}
	.small-caption p {
		font-size: 14px;
	}
	h1 {
		font-size: 18px;
	}
	h2 {
		font-size: 13px;
	}
	h3 {
		font-size: 10px;
	}
	p {
		font-size: 14px;
	}
	.cta {
		font-size: 14px;
	}
	.large-text {
		font-size: 18px;
		margin-bottom: 8vw;
	}
	#row-one {
		flex-direction: column;
		margin-left: 0px;
	}
	#row-two {
		flex-direction: column-reverse;
	}
	.large-block {
		width: auto;
	}
	.thumbnail-large {
		width: auto;
	}
	.large-caption {
		width:83vw;
		padding-top:50vw;
	}
	.large-caption:hover {
		height:23.3vw;
	}
	.small-block {
		width: auto;
		height: auto;
	}
	.small-caption:hover {
		height:16vw
	}
	.small-caption {
		width: 40vw;
		padding-top: 25vw;
	}
	
	.thumbnail-small {
		width: 42vw;
	}
	.header-bottom {
		padding-top:7vw;
	}
	.flexbox {
		flex-direction: column;
		margin-bottom: 3vw;
	}
	.project-stats {
		width: 100%;
		margin-bottom: 8vw;
	}
	.project-desc {
		width: 100%;
	}
	.project-pic {
		width: 100%;
		margin-bottom: 2vw;
	}
	.flex-half {
		width: 100%;
	}
}