@charset "UTF-8";
/* CSS Document */

body {
	background-color:#5e3cb5;
}





.box {
	width:100vw;
	height:100vh;
	position: fixed;
	top:0;
	left:0;
	margin:0px;
	background-color: #c8b3ff;
}

.window {
	width:98vw;
	height:98vh;
	background-color: white;
	margin:1vh 1vw;
	border-radius: 9px;
}



#logo {
	width:40vw;
	height:auto;
	margin:2vh 0vw 1vh 29vw;
}

#logosub {
	width:40vw;
	margin-left:29vw;
	text-align: center;
	font-family: 'Krungthep';
	color:#9C64EC;
	font-weight: 100;
}

#essentialq {
	width:40vw;
	margin-left:29vw;
	margin-top:2vw;
	text-align: left;
	font-family: 'Inconsolata';
	color: #98D0C0;
	font-weight: 100;
	line-height: 1.5vw;
}

h4 {
	font-family: 'Inconsolata';
	color:#9C64EC;
	font-weight: 100;
	font-size: 1vw;
}

#profiler {
	width:40vw;
	margin-left:29vw;
	margin-top:2vw;
}

.hidden {
	display:none;
}

.visible {
	display:block;
}

.playbutt {
	width:40vw;
	margin-top: 1vw;
	background-color: rgba(206,62,239,0.56);
	padding:1vw;
	font-size: 1.5vw;
	font-family: 'Krungthep';
	font-weight: 100;
	color:white;
}

.choice {
	width:100%;
	margin-top: 1vw;
	background-color: rgba(206,62,239,0.56);
	padding:0.5vw;
	font-size: 1vw;
	font-family: 'Krungthep';
	font-weight: 100;
	color:white;
	display:block;
	transition: all ease 0.3s;
}

.choice:hover {
	background-color:black;
}

#thestory {
	width:30vw;
	padding:2vw;
	background-color: rgba(0,0,0,0.7);
	font-family: 'Inconsolata';
	color: #98D0C0;
	border: solid 2px #98D0C0;
	font-weight: 100;
	line-height: 1.5vw;
	transition: all ease 0.3s;
}

#handlehere {
	display: inline;
}

.popwindow {
	width:30vw;
	padding:2vw;
	background-color: rgba(0,0,0,0.7);
	font-family: 'Inconsolata';
	color: white;
	border: solid 2px white;
	font-weight: 100;
	line-height: 1.5vw;
	transition: all ease 0.3s;
	margin-top: 1vw;
}

#logo2 {
	width:10vw;
	position: fixed;
	right:2vw;
	bottom:2vh;
}

#thawindow {
	background-image: url("bg0.jpg");
	transition: all ease 0.3s;
	background-attachment: fixed;
	background-size: cover;
	background-repeat:no-repeat;
}


